In [2]:
import pandas as pd
supermarket=pd.read_csv('supermarket.csv')
supermarket

    ProductID    ProductName  Quantity  Price     LastUpdated
0           1           Milk        20   65.0  7/5/2025 15:00
1           2          Bread        30   60.0  7/5/2025 14:30
2           3          Sugar        15  120.0  7/4/2025 10:00
3           4          Flour        25  150.0  7/3/2025 16:45
4           5           Rice        40    NaN   7/5/2025 9:15
..        ...            ...       ...    ...             ...
58         56     Cling Film        15   90.0   7/4/2025 9:00
59         57  Aluminum Foil        12  100.0  7/5/2025 12:00
60         58     Trash Bags        25   60.0  7/3/2025 14:45
61         59     Toothpicks        40   30.0  7/4/2025 10:30
62         60   Strawberries         8  250.0  7/5/2025 13:00

[63 rows x 5 columns]

In [3]:
#check for null values
supermarket.isna().sum()

ProductID      0
ProductName    0
Quantity       0
Price          7
LastUpdated    0
dtype: int64

In [7]:
#fill null values with the mean
supermarket['Price'].fillna(supermarket['Price'].mean(), inplace= True)
supermarket

C:\Users\user\AppData\Local\Temp\ipykernel_13368\1464759238.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  supermarket['Price'].fillna(supermarket['Price'].mean(), inplace= True)

    ProductID    ProductName  Quantity       Price     LastUpdated
0           1           Milk        20   65.000000  7/5/2025 15:00
1           2          Bread        30   60.000000  7/5/2025 14:30
2           3          Sugar        15  120.000000  7/4/2025 10:00
3           4          Flour        25  150.000000  7/3/2025 16:45
4           5           Rice        40  103.035714   7/5/2025 9:15
..        ...            ...       ...         ...             ...
58         56     Cling Film        15   90.000000   7/4/2025 9:00
59         57  Aluminum Foil        12  100.000000  7/5/2025 12:00
60         58     Trash Bags        25   60.000000  7/3/2025 14:45
61         59     Toothpicks        40   30.000000  7/4/2025 10:30
62         60   Strawberries         8  250.000000  7/5/2025 13:00

[63 rows x 5 columns]

In [10]:
#confirm
supermarket.isna().sum()

ProductID      0
ProductName    0
Quantity       0
Price          0
LastUpdated    0
dtype: int64

In [21]:
supermarket.duplicated().sum()

np.int64(0)

In [22]:
supermarket.drop_duplicates()

    ProductID    ProductName  Quantity       Price     LastUpdated
0           1           Milk        20   65.000000  7/5/2025 15:00
1           2          Bread        30   60.000000  7/5/2025 14:30
2           3          Sugar        15  120.000000  7/4/2025 10:00
3           4          Flour        25  150.000000  7/3/2025 16:45
4           5           Rice        40  103.035714   7/5/2025 9:15
..        ...            ...       ...         ...             ...
58         56     Cling Film        15   90.000000   7/4/2025 9:00
59         57  Aluminum Foil        12  100.000000  7/5/2025 12:00
60         58     Trash Bags        25   60.000000  7/3/2025 14:45
61         59     Toothpicks        40   30.000000  7/4/2025 10:30
62         60   Strawberries         8  250.000000  7/5/2025 13:00

[63 rows x 5 columns]

In [24]:
supermarket.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 63, dtype: bool