In [3]:
import pandas as pd
imputation=pd.read_csv('imputation.csv')
imputation.sample(2)

         Date Market Unit Price_flag Kes_price Usd_price  Exch_rate
45        Max    NaN  NaN        NaN     68.75      0.61   113.3622
35  4/15/2022  Wajir   KG   forecast      Null      Null        NaN

In [6]:
#understanding specific columns

maizeprices=imputation['Market'].where(imputation['Market']=='Wajir')
maizeprices

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5     Wajir
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15    Wajir
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25    Wajir
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
31      NaN
32      NaN
33      NaN
34      NaN
35    Wajir
36      NaN
37      NaN
38      NaN
39      NaN
40      NaN
41      NaN
42      NaN
43      NaN
44      NaN
45      NaN
Name: Market, dtype: object

In [8]:
#understanding specific columns
imputation['Market']

0       Nairobi
1       Garissa
2        Kakuma
3     Mogadishu
4       Baringo
5         Wajir
6        Kisumu
7        Nakuru
8       Eldoret
9     Kalobeyei
10      Nairobi
11      Garissa
12       Kakuma
13    Mogadishu
14      Baringo
15        Wajir
16       Kisumu
17       Nakuru
18      Eldoret
19    Kalobeyei
20      Nairobi
21      Garissa
22       Kakuma
23    Mogadishu
24      Baringo
25        Wajir
26       Kisumu
27       Nakuru
28      Eldoret
29    Kalobeyei
30      Nairobi
31      Garissa
32       Kakuma
33    Mogadishu
34      Baringo
35        Wajir
36       Kisumu
37       Nakuru
38      Eldoret
39    Kalobeyei
40          NaN
41          NaN
42          NaN
43          NaN
44          NaN
45          NaN
Name: Market, dtype: object

In [13]:
newimputation=imputation.dropna()
newimputation

         Date     Market Unit Price_flag Kes_price Usd_price  Exch_rate
0   1/15/2022    Nairobi   KG     actual     50.00      0.44   113.3530
1   1/15/2022    Garissa   KG     actual     50.00      0.44   113.3530
2   1/15/2022     Kakuma   KG     actual     50.00      0.44   113.3530
3   1/15/2022  Mogadishu   KG     actual     45.00      0.40   113.3501
4   1/15/2022    Baringo   KG     actual     60.00      0.53   113.3573
5   1/15/2022      Wajir   KG     actual     60.00      0.53   113.3573
6   1/15/2022     Kisumu   KG     actual     68.75      0.61   113.3553
7   1/15/2022     Nakuru   KG     actual     44.38      0.39   113.3589
8   1/15/2022    Eldoret   KG     actual     48.75      0.43   113.3457
9   1/15/2022  Kalobeyei   KG     actual     47.17      0.42   113.3622
10  2/15/2022    Nairobi   KG     actual     53.62      0.47   113.3376
11  2/15/2022    Garissa   KG     actual     54.33      0.48   113.3528
12  2/15/2022     Kakuma   KG     actual     47.33      0.42   113.3381
13  2/15/2022  Mogadishu   KG     actual     50.00      0.44   113.3530
14  2/15/2022    Baringo   KG     actual     47.17      0.42   113.3622
15  2/15/2022      Wajir   KG     actual     50.00      0.44   113.3530
16  2/15/2022     Kisumu   KG     actual     68.75      0.61   112.6495
17  2/15/2022     Nakuru   KG     actual     50.00      0.44   112.6380
18  2/15/2022    Eldoret   KG     actual     40.00      0.36   112.6443
19  2/15/2022  Kalobeyei   KG     actual     45.38      0.40   112.6334
20  3/15/2022    Nairobi   KG     actual     42.69      0.38   112.6385
21  3/15/2022    Garissa   KG     actual     46.54      0.41   112.6604
22  3/15/2022     Kakuma   KG     actual     42.77      0.38   112.6416
23  3/15/2022  Mogadishu   KG     actual     45.00      0.40   112.6408
24  3/15/2022    Baringo   KG     actual     46.35      0.41   112.6641
25  3/15/2022      Wajir   KG     actual     47.31      0.42   112.6429
26  3/15/2022     Kisumu   KG     actual     36.85      0.33   112.6567
27  3/15/2022     Nakuru   KG     actual     60.00      0.53   112.6549
28  3/15/2022    Eldoret   KG     actual     45.00      0.40   112.6549
29  3/15/2022  Kalobeyei   KG     actual     51.00      0.45   112.6549